@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@700&family=Montserrat:ital,wght@0,800;1,900&family=Poppins:wght@800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;

    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Dancing Script', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: brown;
}
nav a{
    color: aliceblue;
}
.navbar{
    background-color: darkred;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 15px 30px;
    border-bottom: 4px solid black;
}
.call{
    align-items: center;
    padding: 10px;
}
#logo{
    width: 60px;
}
.navbar .navbar-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
nav a:hover{
    color: aqua;
    transition: .3s;
}
.nav_fx{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}
#tombol{
    color: aliceblue;
    display: none;
}



figure {
    background-color: brown;
    padding: 60px 100px 0px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}
.konten{
    height: 400px;
    width: 100%;
    overflow: hidden;
}
.konten .image{
    height: 100%;
    width: 100%;
    transition: .3s;
}
.image img{
    height: 100%;
    width: 100%;
}
.konten .btn-slide{
    position: absolute;
    bottom: -50px;
    left: 50%;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
}
.btn-slide span{
    font-size: 10px;
    padding: 1px 15px;
    transition: .3s;
    color: brown;
    background-color: aliceblue;
    border-radius: 2px;
    cursor: grabbing;
}
.btn-slide span:hover{
    background-color: brown;
    color: brown;
    opacity: 0.5;
}
.konten .slide{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 65%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border: solid aliceblue;
    color: aliceblue;
}
.slide span{
    font-size: 20px;
    font-weight: 900;
    line-height: 40px;
    cursor: pointer;
}
.slide:hover{
    opacity: 0.4;
}
.slide.right{
    right: 20px;
}
.slide.left{
    left: 20px;
}
.txt_main{
    position: absolute;
    top: 55%;
}
.txt_main h1{
    font-size: 60px;
    text-shadow: 0px 0px 20px aliceblue;
    color: aliceblue;
}
.txt_main h3{
    text-shadow: 0px 0px 20px aliceblue;
    color: aliceblue;
    font-size: 25px;
}
.search{
    padding: 20px;
}
.form{
    margin: 5px 200px;
    padding: 20px 30px;
}
.form h4{
    color: aliceblue;
    text-transform: uppercase;
    font-size: 40px;
    margin: 15px;
    text-align: center;
}
.form input{
    width: 80%;
    padding: 10px;
}
.search_e{
    gap: 5px;
    display: flex;
    justify-content:center;
    align-items: center;
}
.sc{
    background-color: gray; padding: 10px 50px; font-size: 25px;
}


article{
    padding: 50px;
}
article img{
    height: 150px;
    width: 250px;
}
.card{
    display: grid;
    grid-template-columns: 2fr 2fr;
    width: 100%;
}
.pad{
    padding: 5px;
}
.cards{
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.book a{
    color: black;
}
.book{
    background-color: aliceblue;
    width: 30%;
    margin: 10px;
    text-align: center;
    padding: 5px;
}










footer{
    background-color: burlywood;
    width: 100%;
}
.foot_grid{
    padding: 50px 200px;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
}
footer a{
    text-transform: uppercase;
    color: black;
}
.foot1{
    width: 80%;
    text-align: center;
    font-size: 15px;
}
.foot2{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



@media screen and (max-width: 768px) {

    #tombol{
        display: flex;
        flex-direction: column;
        gap: 15px;
        cursor: pointer;
        margin-right: -15px;
    }
    .navbar i{
        position: relative;
        font-size: 30px;
        padding: 20px;
    }
    .nav_fx{
        flex-direction: column;
    }
    .navbar .navbar-nav{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: -600px;
        right: 0;
        background-color: brown;
        padding: 35px 0px;
    }
    .navbar .navbar-nav.show{
        top: 110px;
        z-index: 99;
    }
    figure {
        min-height: 0px;
    }
    .konten .slide{
        top: 50%;
    }
    .btn-slide{
        top: 33%;
    }
    .btn-slide span{
        font-size: 5px;
    }
    .txt_main{
        top: 45%;
    }
    .txt_main h1{
        font-size: 35px;
    }
    .txt_main h3{
        font-size: 15px;
    }
    .form{
        margin: 0;
    }
    .form h4{
        font-size: 20px;
    }
    .card{
        display: flex;
        flex-direction: column;
    }
    .foot_grid{
        text-align: center;
        padding: 20px 100px;
        display: flex;
        gap: 50px;
        flex-direction: column;
    }
    .foot1, .foot2, .foot3{
        width: 100%;
    }

}
@media screen and (max-width: 426px) {


    footer{
        width: 100%;
    }
    footer h1{
        font-size: 25px;
        text-align: center;
    }
    .foot-flex{
        text-align: center;
        padding: 0;
        border: aliceblue solid;
        flex-direction: column;
    }
    .foot_card{
        padding: 10px;
        border: none;
    }
}
