@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@700&family=Montserrat:ital,wght@0,800;1,900&family=Poppins:wght@800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    color: aliceblue;
    text-decoration: none;

    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Dancing Script', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
}
main{
    width: 100%;
}
.bg{
    background: url(/source/main_rimba.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    
    filter: brightness(50%);
    filter: blur(2px);
    height: 100%;
    width: 100%;

    position: absolute;
}
.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    /* padding: 100px; */
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 6;
}
.isi{
    padding: 0px;
    text-shadow: black 20px 10px 5px;
}
h1{
    transition: .3s;
    font-size: 60px;
    text-transform: uppercase;
}
h3{
    transition: .4s;
    font-size: 50px;
}
h4{
    transition: .5s;
    margin: 20px;
    font-size: 20px;
}
button{
    transition: .6s;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: darkgreen;
    font-size: 50px;
    cursor: pointer;
}
button a{
    text-transform: uppercase;
    color: darkgreen;
}
button:hover{
    background-color: aliceblue;
}
button:hover{
    color: darkgreen;
    text-shadow: 0px 1px 10px black;
}

@media screen and (max-width: 769px) {
    h1{
        font-size: 40px;
    }
    h3{
        font-size: 25px;
    }
    h4{
        font-size: 20px;
    }
    button{
        padding: 10px 50px 10px 50px;
    }
    button a{
        font-size: 20px;
    }
}
@media screen and (max-width: 426px) {
    h1{
        font-size: 25px;
    }
    .isi h3, h4{
        padding: 0px;
        font-size: 15px;
    }
    button{
        font-size: 25px;
        padding: 5px 25px 5px 25px;
    }
    button a{ 
        font-size: 15px;
    }
}